.hero {
    position: relative;

    display: flex;
    align-items: center;

    height: 80vh;
}

.hero__bg-leaf__right {
    position: absolute;
    top: 0;
    left: 0;
}

.hero__bg-leaf__left {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__left {
    max-width: 550px;
}

.hero-content__left-heading {
    font-family: var(--koh-santepheap);
    font-size: 48px;
    font-weight: 600;
}

.hero-content__left-heading span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-content__left-heading span img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.hero-content__left p {
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 20px;

    color: var(--secondary-color);

    margin: 16px 0;
}

.hero-content__order-button {
    background: var(--primary-color);
    color: var(--color-white);

    border: none;
    border-radius: 30px;

    padding: 15px 18px;

    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;

    cursor: pointer;
}

.hero-content__order-button:hover {
    transform: scale(1.02);
}

.hero-content__order-button img {
    width: 10px;
    height: 10px;
    object-fit: contain;
}

.hero-image img {
    width: 110%;
    height: auto;
    object-fit: contain;
}