.recent-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding: 40px 0;
}

.recent-content__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

     max-width: 500px;
}

.recent-content__subtitle--image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.recent-content__subtitle--image img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.recent-content__left p {
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 20px;

    color: var(--secondary-color);
}

.recent-image {
    width: 45%;
}


.recent-image img {
    width: 100%;
    object-fit: contain;
}
